# Environments
os-credentials.sh

# IDE
.vscode*
.idea*
XDG_CACHE_HOME

# Terraform ignore
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
.terraform.*.lock.info

# Python
__pycache__/
*.py[cod]
*$py.class

# Other
.DS_Store
