#!/bin/sh
export OS_AUTH_URL="https://api.selvpc.ru/identity/v3"
export OS_X_TOKEN=<YourSelectelToken>
export OS_PROJECT_NAME=<YourProjectName>
export OS_USER_DOMAIN_NAME=<YourUserDomainName>
export OS_USERNAME=<YourUserName>
export OS_PASSWORD=<YourPassword>
export OS_REGION =<YourRegion>
export OS_AVAILABILITY_ZONE =<YourAvailabilityZone>

export RESELL_API_URL='https://api.selectel.ru/vpc/resell/v2'

export TF_VAR_OS_AUTH_URL=$OS_AUTH_URL
export TF_VAR_OS_X_TOKEN=$OS_X_TOKEN
export TF_VAR_OS_PROJECT_NAME=$OS_PROJECT_NAME
export TF_VAR_OS_USER_DOMAIN_NAME=$OS_USER_DOMAIN_NAME
export TF_VAR_OS_USERNAME=$OS_USERNAME
export TF_VAR_OS_PASSWORD=$OS_PASSWORD
export TF_VAR_OS_REGION=$OS_REGION
export TF_VAR_OS_AVAILABILITY_ZONE=$OS_AVAILABILITY_ZONE
