# Selectel credentials vars
sel_account = 1337

sel_token = "you_own_token"

# OpenStack identity vars
os_project_name = "your_project_name"

os_user_name = "sergey"

os_user_password = "1234"

os_auth_url = "https://api.selvpc.ru/identity/v3"

os_region = "ru-3"

os_zone = "ru-3a"

server_zone = "ru-3a"

# OpenStack instances vars
master_server_name = "Master"

slave_server_name = "Slave"

srv_server_name = "Srv"

server_zone = "ru-3a"

server_vcpus = 1

server_ram_mb = 1024

server_root_disk_gb = 10

server_image_name = "Ubuntu 18.04 LTS 64-bit"

public_key_path = "~/.ssh/appuser.pub"

