---
global:
  scrape_interval: '{{ scrape_interval }}'

scrape_configs:
  - job_name: 'node'
    static_configs:
      - targets:
        - 'node-exporter:{{ node_exporter_port }}'

{% for host in hostvars %}{% if host not in group_names %}
  - job_name: pg-exporter-{{host}}
    static_configs:
      - targets:
        - '{{ hostvars[host].ansible_host }}:{{ postgres_exporter_port }}'

  - job_name: node-exporter-{{host}}
    static_configs:
      - targets:
        - '{{ hostvars[host].ansible_host }}:{{ node_exporter_port }}'

{% endif %}{% endfor %}
#rule_files:
#  - "alerts.yml"

#alerting:
#  alertmanagers:
#  - scheme: http
#    static_configs:
#    - targets:
#      - "alertmanager:{{ alertmanager_port }}"
