---
credentials:
  admins:
    postgres:
      password: "<YouPass>"
    replicator:
      password: "<YouPass>"
  users:
    bar:
      password: "<YouPass>"
      groups: sudo
      database: "<YouDBName>"
  patroni:
    patroni_rest_password: "<YouPass>"
