127.0.0.1	localhost srv01
::1		localhost srv01 ip6-localhost ip6-loopback
ff02::1		ip6-allnodes
ff02::2		ip6-allrouters

{% for host in hostvars %}
{{ hostvars[host].ansible_host }}		{{ host }}
{% endfor %}
