standby_mode = 'on'
primary_conninfo = 'user={{ replica_user_name }} password={{ credentials.admins[replica_user_name].password }} host={{ master_local_ip }} port={{ pg_port }} sslmode=prefer sslcompression=1 krbsrvname=postgres target_session_attrs=any'
trigger_file = '/var/lib/postgresql/{{ pg_version }}/main/trigger_file'
